__pycache__/
**/*.MID
**/*.mid
params/
venv/
Include/
include/
Lib/
lib/
lib64
bin/
Scripts/
pyvenv.cfg
.ipynb_checkpoints/
magenta/
share/
dlls/
output_temp/
output_yamaha/extracted/data.npy
Literature/
plot/
*.zip
*.bat
output/all_emotion.csv