Package                  Version
------------------------ ------------
absl-py                  0.11.0
astunparse               1.6.3
attrs                    20.2.0
audioread                2.1.9
backcall                 0.2.0
bokeh                    2.2.3
bz2file                  0.98
cachetools               4.1.1
certifi                  2020.6.20
cffi                     1.14.3
chardet                  3.0.4
click                    7.1.2
cloudpickle              1.6.0
cycler                   0.10.0
dataclasses              0.7
decorator                4.4.2
dill                     0.3.3
dm-sonnet                2.0.0
dm-tree                  0.1.5
dopamine-rl              3.0.1
Flask                    1.1.2
future                   0.18.2
gast                     0.3.3
gevent                   20.9.0
gin-config               0.3.0
google-api-core          1.23.0
google-api-python-client 1.12.5
google-auth              1.23.0
google-auth-httplib2     0.0.4
google-auth-oauthlib     0.4.2
google-pasta             0.2.0
googleapis-common-protos 1.52.0
greenlet                 0.4.17
grpcio                   1.33.2
gunicorn                 20.0.4
gym                      0.17.3
h5py                     2.10.0
httplib2                 0.18.1
idna                     2.10
imageio                  2.9.0
importlib-metadata       2.0.0
importlib-resources      3.3.0
intervaltree             3.1.0
ipython                  7.16.1
ipython-genutils         0.2.0
itsdangerous             1.1.0
jedi                     0.17.2
Jinja2                   2.11.2
joblib                   0.17.0
Keras-Preprocessing      1.1.2
kfac                     0.2.3
kiwisolver               1.3.1
librosa                  0.7.2
llvmlite                 0.31.0
magenta                  2.1.2
Markdown                 3.3.3
MarkupSafe               1.1.1
matplotlib               3.3.2
mesh-tensorflow          0.1.17
mido                     1.2.6
mir-eval                 0.6
more-itertools           8.6.0
mpmath                   1.1.0
music21                  6.1.0
networkx                 2.5
note-seq                 0.0.1
numba                    0.48.0
numpy                    1.18.5
oauth2client             4.1.3
oauthlib                 3.1.0
opencv-python            4.4.0.44
opt-einsum               3.3.0
packaging                20.4
pandas                   1.1.4
parso                    0.7.1
pexpect                  4.8.0
pickleshare              0.7.5
Pillow                   8.0.1
pip                      20.2.4
pretty-midi              0.2.9
promise                  2.3
prompt-toolkit           3.0.8
protobuf                 3.13.0
ptyprocess               0.6.0
pyasn1                   0.4.8
pyasn1-modules           0.2.8
pycparser                2.20
pyglet                   1.5.0
Pygments                 2.7.2
pygtrie                  2.3.3
pyparsing                2.4.7
pypianoroll              0.5.3
pypng                    0.0.20
python-dateutil          2.8.1
python-rtmidi            1.1.2
pytz                     2020.4
PyWavelets               1.1.1
PyYAML                   5.3.1
requests                 2.24.0
requests-oauthlib        1.3.0
resampy                  0.2.2
rsa                      4.6
scikit-image             0.17.2
scikit-learn             0.23.2
scipy                    1.5.3
setuptools               50.3.2
six                      1.15.0
sk-video                 1.1.10
sklearn                  0.0
sortedcontainers         2.2.2
SoundFile                0.10.3.post1
sox                      1.4.1
sympy                    1.6.2
tabulate                 0.8.7
tensor2tensor            1.15.7
tensorboard              2.3.0
tensorboard-plugin-wit   1.7.0
tensorflow               2.3.1
tensorflow-addons        0.11.2
tensorflow-datasets      4.0.1
tensorflow-estimator     2.3.0
tensorflow-gan           2.0.0
tensorflow-hub           0.10.0
tensorflow-metadata      0.24.0
tensorflow-probability   0.11.1
termcolor                1.1.0
tf-slim                  1.1.0
threadpoolctl            2.1.0
tifffile                 2020.9.3
torch                    1.5.0+cu101
torchvision              0.6.0+cu101
tornado                  6.1
tqdm                     4.51.0
traitlets                4.3.3
typeguard                2.10.0
typing-extensions        3.7.4.3
uritemplate              3.0.1
urllib3                  1.25.11
wcwidth                  0.2.5
webcolors                1.11.1
Werkzeug                 1.0.1
wheel                    0.35.1
wrapt                    1.12.1
zipp                     3.4.0
zope.event               4.5.0
zope.interface           5.1.2
